In [3]:
import pandas as pd

In [4]:
movies_df=pd.read_csv('/Users/bytedance/Desktop/MovieLens-Recommendation-System/data/ml-1m/movies.csv')
ratings_df=pd.read_csv('/Users/bytedance/Desktop/MovieLens-Recommendation-System/data/ml-1m/ratings.csv')
users_df=pd.read_csv('/Users/bytedance/Desktop/MovieLens-Recommendation-System/data/ml-1m/users.csv')

## 查看数据基本情况

In [3]:
movies_df.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [4]:
ratings_df.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [5]:
users_df.head()

   user_id gender  age  occupation zip_code
0        1      F    1          10    48067
1        2      M   56          16    70072
2        3      M   25          15    55117
3        4      M   45           7    02460
4        5      M   25          20    55455

### 数据预处理

In [5]:
genres=movies_df['genres'].str.get_dummies(sep='|')
movies=pd.concat([movies_df, genres], axis=1)

# 合并评分和电影数据
data=pd.merge(ratings_df, movies, on='movie_id')

In [11]:
data.head()

,user_id,movie_id,rating,timestamp,title,genres,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

### 用户评分统计特征

In [6]:
user_stats=data.groupby('user_id')['rating'].agg([
    ('mean_rating', 'mean'), # 平均评分
    ('rating_std', 'std'), # 评分标准差
    ('rating_count','count'), # 评分次数
    ('rating_min','min'), # 最小评分
    ('rating_max','max') # 最大评分
]).reset_index()

# 填充可能存在的NaN值
user_stats['rating_std']=user_stats['rating_std'].fillna(0)

# 计算用户评分严格程度
global_mean_rating=data['rating'].mean()
user_stats['rating_strictness']=global_mean_rating-user_stats['mean_rating']

# 计算用户评分波动程度
user_stats['rating_variability']=user_stats['rating_std']/user_stats['mean_rating']

# 查看结果
print(user_stats.head())

   user_id  mean_rating  rating_std  rating_count  rating_min  rating_max  \
0        1     4.188679    0.680967            53           3           5
1        2     3.713178    1.001513           129           1           5
2        3     3.901961    0.984985            51           1           5
3        4     4.190476    1.077917            21           1           5
4        5     3.146465    1.132699           198           1           5

   rating_strictness  rating_variability
0          -0.607115            0.162573
1          -0.131614            0.269719
2          -0.320396            0.252433
3          -0.608912            0.257230
4           0.435100            0.359991

### 用户电影类型偏好特征

In [8]:
# 获取所有电影类型列
genre_columns=[col for col in data.columns if col not in ['user_id', 'movie_id', 'rating', 'timestamp','title', 'genres']]


# 计算用户对每种类型的评分次数和平均评分（用户ID、电影类型以及评分次数）
user_genre_stats=data.groupby('user_id')[genre_columns].sum().reset_index()

# 计算用户对每种类型的偏好程度（按行处理，将每一个用户对某一类型的评分，除以该用户对所有类型评分的总和）
for genre in genre_columns:
    user_genre_stats['genre']=user_genre_stats[genre]/user_genre_stats[genre_columns].sum(axis=1)

# 计算用户最喜欢的类型（返回最大值所在的索引），axis=1表示按照行操作
user_genre_stats['favorite_genre']=user_genre_stats[genre_columns].idxmax(axis=1)

# 计算用户喜欢的类型数量（评分过的类型数）（得到该行中评分大于0的类型数量）
user_genre_stats['num_liked_genres']=(user_genre_stats[genre_columns]>0).sum(axis=1)

# 合并所有用户特征
user_features=pd.merge(user_stats, user_genre_stats, on='user_id')

# 查看结果
print(user_features.head())

   user_id  mean_rating  rating_std  rating_count  rating_min  rating_max  \
0        1     4.188679    0.680967            53           3           5
1        2     3.713178    1.001513           129           1           5
2        3     3.901961    0.984985            51           1           5
3        4     4.190476    1.077917            21           1           5
4        5     3.146465    1.132699           198           1           5

   rating_strictness  rating_variability  Action  Adventure  ...  Musical  \
0          -0.607115            0.162573       5          5  ...       14
1          -0.131614            0.269719      56         19  ...        0
2          -0.320396            0.252433      23         25  ...        1
3          -0.608912            0.257230      19          6  ...        0
4           0.435100            0.359991      31          9  ...        3

   Mystery  Romance  Sci-Fi  Thriller  War  Western     genre  favorite_genre  \
0        0        6       3         3    2        0  0.000000           Drama
1        3       24      17        31   15        3  0.010417           Drama
2        1        5       6         5    2        6  0.048780          Comedy
3        0        2       9         4    3        2  0.034483          Action
4        8       30      15        39    6        1  0.002841           Drama

   num_liked_genres
0                13
1                14
2                15
3                12
4                17

[5 rows x 29 columns]

### 电影特征工程

In [35]:
# 计算电影的基本评分统计
movie_stats=data.groupby('movie_id')['rating'].agg([
    ('movie_mean_rating', 'mean'),
    ('movie_rating_std', 'std'),
    ('movie_rating_count', 'count')
])

print("movie_stats:")
print(movie_stats)

# 合并电影原始信息
movie_features=pd.merge(movies, movie_stats, on='movie_id')
print("movie_features:")
print(movie_features.head())

movie_stats:
          movie_mean_rating  movie_rating_std  movie_rating_count
movie_id
1                  4.146846          0.852349                2077
2                  3.201141          0.983172                 701
3                  3.016736          1.071712                 478
4                  2.729412          1.013381                 170
5                  3.006757          1.025086                 296
...                     ...               ...                 ...
3948               3.635731          1.014196                 862
3949               4.115132          1.009804                 304
3950               3.666667          1.046107                  54
3951               3.900000          1.057331                  40
3952               3.780928          0.935074                 388

[3706 rows x 3 columns]
movie_features:
   movie_id                               title                        genres  \
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

   Action  Adventure  Animation  Children's  Comedy  Crime  Documentary  ...  \
0       0          0          1           1       1      0            0  ...
1       0          1          0           1       0      0            0  ...
2       0          0          0           0       1      0            0  ...
3       0          0          0           0       1      0            0  ...
4       0          0          0           0       1      0            0  ...

   Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western  \
0        0        0        0       0         0    0        0
1        0        0        0       0         0    0        0
2        0        0        1       0         0    0        0
3        0        0        0       0         0    0        0
4        0        0        0       0         0    0        0

   movie_mean_rating  movie_rating_std  movie_rating_count
0           4.146846          0.852349                2077
1           3.201141          0.983172                 701
2           3.016736          1.071712                 478
3           2.729412          1.013381                 170
4           3.006757          1.025086                 296

[5 rows x 24 columns]

In [36]:
# 计算电影类型纯度（类型数量越少，纯度越高）
movie_features['genre_purity']=1/movie_features[genre_columns].sum(axis=1)
print(movie_features.head())

   movie_id                               title                        genres  \
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

   Action  Adventure  Animation  Children's  Comedy  Crime  Documentary  ...  \
0       0          0          1           1       1      0            0  ...
1       0          1          0           1       0      0            0  ...
2       0          0          0           0       1      0            0  ...
3       0          0          0           0       1      0            0  ...
4       0          0          0           0       1      0            0  ...

   Mystery  Romance  Sci-Fi  Thriller  War  Western  movie_mean_rating  \
0        0        0       0         0    0        0           4.146846
1        0        0       0         0    0        0           3.201141
2        0        1       0         0    0        0           3.016736
3        0        0       0         0    0        0           2.729412
4        0        0       0         0    0        0           3.006757

   movie_rating_std  movie_rating_count  genre_purity
0          0.852349                2077      0.333333
1          0.983172                 701      0.333333
2          1.071712                 478      0.500000
3          1.013381                 170      0.500000
4          1.025086                 296      1.000000

[5 rows x 25 columns]

### 保存特征数据

In [39]:
user_features.to_csv('/Users/bytedance/Desktop/MovieLens-Recommendation-System/data/features/user_features.csv', index=False)
movie_features.to_csv('/Users/bytedance/Desktop/MovieLens-Recommendation-System/data/features/movie_features.csv', index=False)

In [44]:
pd.set_option('display.max_columns', None)
user_features.head()

,user_id,mean_rating,rating_std,rating_count,rating_min,rating_max,rating_strictness,rating_variability,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,favorite_genre,num_liked_genres
0,1,4.188679,0.680967,53,3,5,-0.607115,0.162573,0.043103,0.045028,0.169670,0.226609,0.204426,0.036571,0.000000,0.398290,0.093389,0.000000,0.000000,0.479172,0.000000,0.382257,0.297663,0.406715,0.418157,0.000000,Musical,13
1,2,3.713178,1.001513,129,1,5,-0.131614,0.269719,0.194444,0.081828,0.000000,0.000000,0.117219,0.063696,0.000000,0.447701,0.010214,0.010318,0.020850,0.000000,0.031933,0.263799,0.252818,0.613924,0.745944,0.512410,War,14
2,3,3.901961,0.984985,51,1,5,-0.320396,0.252433,0.186992,0.249533,0.039769,0.041393,0.431545,0.000000,0.000000,0.200254,0.062209,0.000000,0.099299,0.036615,0.037954,0.196962,0.291509,0.336156,0.195883,0.713770,Western,15
3,4,4.190476,1.077917,21,1,5,-0.608912,0.257230,0.327586,0.152565,0.000000,0.029868,0.000000,0.030760,0.000000,0.190230,0.077727,0.000000,0.126004,0.000000,0.000000,0.095535,0.472931,0.380836,0.435790,0.462981,Sci-Fi,12
4,5,3.146465,1.132699,198,1,5,0.435100,0.359991,0.088068,0.028030,0.012816,0.019472,0.185339,0.085250,0.026617,0.473922,0.000000,0.025880,0.088538,0.029117,0.079950,0.325581,0.240121,0.817461,0.629844,0.240616,Thriller,17

In [45]:
movie_features.head()

,movie_id,title,genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,movie_mean_rating,movie_rating_std,movie_rating_count,genre_purity
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,4.146846,0.852349,2077,0.333333
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,3.201141,0.983172,701,0.333333
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,3.016736,1.071712,478,0.500000
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,2.729412,1.013381,170,0.500000
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3.006757,1.025086,296,1.000000